#container {
    width: 600px;
    background: transparent;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}

.fa-plus:hover {
  cursor: pointer;
}

.fa-minus {
  float: right;
}

.fa-minus:hover {
  cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container, h1 {
  border-radius: 10px 10px 0px 0px;
}

h1 {
    background: #1a68c7;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

#todoList {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

#todoList  li:last-child  span  {
    border-radius: 0px 0px 0px 10px;
}  

#todoList li:last-child {
    border-radius: 0px 0px 10px 10px;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    color: #1a68c7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0, 0);
    margin-top: 0;
    margin-bottom: 0;
}

input:focus {
    background: white;
    border: 3px solid rgba(38, 133, 248, 0.5);
    outline: none;
}

::placeholder{
    color: rgba(63, 62, 62, 0.603);
    font-weight: 500;
}

.deleteHolder {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
    cursor: default;
}

li:hover {
  cursor: pointer;
}

#timer {
  float: right;
  padding-right: 25px;
}

#start {
  border: none;
  padding: 0;
  background-color: transparent;
}

.fa-play {
  color: rgb(2, 168, 2);
}
